html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    position:relative;
    background:url("../images/hivebackgroundpurple.jpg") no-repeat;
    background-size:cover;
    overflow:auto;
}

.fullscreen-background {
    background-color: #282c34;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../images/hivebackgroundpurple.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(100vw - 0px); /* Prevents overflow from scrollbar */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
}
