.dashboard-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
  padding-top: 10px;
  padding-left: 60px;
  padding-bottom: 4px;
  border-bottom: 4px solid white;
  box-sizing: border-box; 
}

.your-classes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  justify-content: center;
  align-items: center;  
  box-sizing: border-box;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  top: 30px;
}
.bm-burger-bars {
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}

.bm-cross {
  background-color: rgb(234, 0, 255);
}

.bm-burger-bars-hover {
  background: rgba(255,0,255,0.6);
}
.bm-menu {
  background: #f6c1f5;
  font-size: 30px;
  font-family: 'DotGothic16', sans-serif; 
  padding-left: 50px;
  padding-top: 30px;
}
.bm-item-list a {
  text-decoration: none; 
  color: white;
  padding: 10px 0; 
  transition: color 0.3s ease, text-decoration 0.3s ease; 
}

.bm-item-list a:hover {
  color: #ff80fd; 
  text-decoration: underline; 
}

a {
  display: flex;
  align-items: center; 
}

.classes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.class-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.class-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.view-class-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-class-button:hover {
  background-color: #0056b3;
}