.dashboard-container {
  margin-top: 65px;
  position: relative; /* Allows absolute positioning for child elements */
  width: 100%;        /* Full-width container */

  display: flex;      /* Flexbox for optional layout adjustments */
  align-items: center;
  padding-top: 10px;
  padding-bottom: 4px;
  border-bottom: 4px solid white;
  justify-content: center; /* Default alignment for centering if needed */
  box-sizing: border-box; /* Ensures padding is included in dimensions */
}

.dashboard-header-left {
  position: absolute; /* Position relative to the container */
  bottom: 5px;
  left: 60px;         /* 60px from the left edge */
  
  color: white;       /* Adjust color to fit design */
}

.dashboard-logo {
  position: absolute; /* Position relative to the container */
  left: 50%;          /* Center horizontally */
  transform: translate(-50%, 0%); /* Center image perfectly */
  width: 70px;        /* Set size of the logo */
  height: 70px;       /* Set size of the logo */
  bottom: 5px;
}

.dashboard-header-right {
  position: absolute; /* Position relative to the container */
  bottom: 15px;         
  right: 10px;        /* 10px from the right edge */
  color: white;       /* Adjust color to fit design */
  margin-top: 35px;
}

.your-classes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  justify-content: center;
  align-items: center;  
  box-sizing: border-box;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  top: 30px;
}
.bm-burger-bars {
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}

.bm-cross {
  background-color: rgb(234, 0, 255);
}

.bm-burger-bars-hover {
  background: rgba(255,0,255,0.6);
}
.bm-menu {
  background: #f6c1f5;
  font-size: 30px;
  font-family: 'DotGothic16', sans-serif; 
  padding-left: 50px;
  padding-top: 30px;
}
.bm-item-list a {
  text-decoration: none; 
  color: white;
  padding: 10px 0; 
  transition: color 0.3s ease, text-decoration 0.3s ease; 
}

.bm-item-list a:hover {
  color: #ff80fd; 
  text-decoration: underline; 
}

a {
  display: flex;
  align-items: center; 
}

