.dashboard-container {
  display: flex;
  align-items: center; /* Vertically center the elements */
  justify-content: space-between; /* Space between elements */
  width: 100%; /* Use 100% to prevent overflow */
  padding: 10px 0; /* Optional padding */
  border-bottom: 4px solid white;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.burger-menu-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-right: 20px;
  background: rgba(255, 255, 255, 0.2);
}
  .bm-burger-bars {
  background: #FFFFFF;
  transition: all 0.3s ease-in-out;
  
}

.bm-cross {
  background-color: red; /* Use background to color the cross */
}

.bm-burger-bars-hover {
  background: rgba(255,0,255,0.6);
}
.bm-menu {
  background: #FFFFFF;
  font-size: 30px;
  width: 200px;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  left: 10px; /* Positioned on the left */
  height: 30px;
  top: 30px;
}

header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}

h2 {
  padding-right: 10px;
}