.dashboard-container {
  margin-top: 65px;
  position: relative; 
  width: 100%;        

  display: flex;      
  align-items: center;
  padding-top: 10px;
  padding-bottom: 4px;
  border-bottom: 4px solid white;
  justify-content: left; 
  box-sizing: border-box; 
}

.dashboard-header-left {
  position: absolute; 
  bottom: 1px;
  left: 60px;        
  color: white;       
}

.dashboard-logo {
  position: absolute; 
  left: 50%;          
  transform: translate(-50%, 0%);
  width: 70px;        
  height: 70px;       
  bottom: 5px;
}

.dashboard-header-right {
  position: absolute; 
  bottom: 15px;         
  right: 10px;       
  color: white;       
  margin-top: 35px;
}

.your-classes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  justify-content: center;
  align-items: center;  
  box-sizing: border-box;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  top: 30px;
}
.bm-burger-bars {
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}

.bm-cross {
  background-color: rgb(234, 0, 255);
}

.bm-burger-bars-hover {
  background: rgba(255,0,255,0.6);
}
.bm-menu {
  background: #f6c1f5;
  font-size: 30px;
  font-family: 'DotGothic16', sans-serif; 
  padding-left: 50px;
  padding-top: 30px;
}
.bm-item-list a {
  text-decoration: none; 
  color: white;
  padding: 10px 0; 
  transition: color 0.3s ease, text-decoration 0.3s ease; 
}

.bm-item-list a:hover {
  color: #ff80fd; 
  text-decoration: underline; 
}

a {
  display: flex;
  align-items: center; 
}

